html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  background-color: #121212;
  color: #fff;
}
.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 8% 0 8%;
}
article, .article {
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  background-color: #212121;
}
.card {
}
.has-border {
  border: 1px solid #ea5455;
}
h1, h2, h3 {
  font-weight: 800;
  margin: 0;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
p {
  margin-top: 5px;
  margin-bottom: 15px;
}
a {
  color: #bb86fc;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 5px;
}
button, input, select {
  font-size: 14px;
  line-height: 1.5;
}
label {
  font-size: 85%;
  font-weight: 600;
}
pre {
  padding: 8px 8px 16px 8px;
  margin: 0;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  background-color: #ddd;
  border: 1px solid #ccc;
  font-family: Courier, monospace;
  overflow: auto;
}
code {
  line-height: 1.45;
  background-color: lavender;
  font-family: Courier, monospace;
}
small {
  font-size: 80%;
  color: #333;
}
.demo-list {
  display: flex;
  flex-wrap: wrap;
}

.demo-list-item {
  margin: 0 20px;
  transition: transform ease-in-out 0.1s, color linear 0.1s;
  transform-origin: center center;
}
.demo-list-item:hover, .demo-list-item.focus {
  transform: scale(1.2);
  color: #fff;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  width: 50%;
  height: 140px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls {
  display: flex;
  flex-direction: column;
}
.controls input[type="range"] {
  width: 200px;
  height: 22px;
  margin-bottom: 20px;
}
.controls label {
  font-weight: bold;
}
.manipulation svg-icon {
  transition: color linear 0.1s;
}
.manipulation svg-icon:hover {
  color: #FF9493 !important;
}

/* Colors */

.red {
  color: #FF4E4E;
}
.lightred {
  color: #FF9493;
}
.orange {
  color: #FFC88E;
}
.lightgreen {
  color: #CFF0A2;
}
.green {
  color: #8BEACC;
}
.violet {
  color: #97A3EA;
}
